h1
{
    color:red;
    font-weight: bold;
    font-size: x-large;
}
h2
{
    color:red;
    font-weight: bold;
    font-size: xx-large;
}
.tabla {
    font-style: "Arial";
    padding: 100px;
    margin: 150px;
}